<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="953238239415-4mvdahlpba71b5c5aqphsva7pvt2qlto.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Quando" rel="stylesheet">
    <link href="/static/style.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
        <div class="col-xs-12 col-md-6">
            <br><br>
            <h1 class="heading"><img src="static/logo.png" class="logo">Happy Home</h1>
            <p id='intro-text' class='block'>Adulting made easier! Distribute the workload of household maintainance. Help you and your roomates get on with your lives, without losing track of whose turn it is to take out the trash!
            </p>
        </div>
        <div class="col-xs-12 col-md-6 login_fields">
            <br><br>
            <form action="/login" method="POST">
                <input class="form_input" type="email" name="email" placeholder="Email" required><br>
                <input class="form_input" type="password" name="password" placeholder="Password" required><br><br>
                <input class="form_input" type="submit" value="Log In">
            </form><br>
            <div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div><br>


            <a href="/signup"><button type="button">Sign Up</button></a><br>
        </div>
    </div>
    <script>
      function onSignIn(googleUser) {
        // Useful data for your client-side scripts:
        var profile = googleUser.getBasicProfile();
        console.log("ID: " + profile.getId()); // Don't send this directly to your server!
        console.log('Full Name: ' + profile.getName());
        console.log('Given Name: ' + profile.getGivenName());
        console.log('Family Name: ' + profile.getFamilyName());
        console.log("Image URL: " + profile.getImageUrl());
        console.log("Email: " + profile.getEmail());

        // The ID token you need to pass to your backend:
        var id_token = googleUser.getAuthResponse().id_token;
        console.log("ID Token: " + id_token);

        var xhr = new XMLHttpRequest();
        xhr.open('POST', 'http://localhost:5000/gtokensignin');
        xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        xhr.onload = function(response) {
          console.log('Signed in as: ' + xhr.responseText);
          if (xhr.responseText === "FLASK SEES USER") {
            window.location = "/more_info";
          } else if (xhr.responseText ===  "FLASK SEES NO USER") {
            window.location = "/";
          }
        };
        xhr.send('idtoken=' + id_token);
      };
    </script>
  </body>
</html>