body {
    background-color: #d4d4d4;
}

a {
    color: black;
    text-decoration: none;
}



.navbar-collapse {
    background-color: #ABE2EB;
    padding: 0;
}

h1 {
    font-family: 'Quando', serif;
}

h2 {
    font-family: 'Quando', serif;
}

h3 {
    font-family: 'Quando', serif;
}

h4{
    font-family: 'Open Sans', sans-serif;
    color: black;
}

p {
    font-family: 'Open Sans', sans-serif;
    color: black;
}

.logo {
    width: 75px;
    border: 2px;
    border-color: #ABE2EB;
}

.tiny-img {
    max-height: 50px;
    padding: 0;
    border: 3px;
    border-color: #ABE2EB;
}

.container-fluid {
    padding-right: 15px;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.housemate_img{
    padding: 0px;
    margin: 8px;
}

.login_fields {
    padding-top: 78px;
}

.blue_line { 
    height: 4px;
    width: 15em;
    background-color: #8BD6E4;
}

.block {
    font-family: 'Open Sans', sans-serif;
}

.heading {
    font-family: 'Quando', serif;
    font-size: 75px;
}

.indent_content {
    font-family: 'Open Sans', sans-serif;
    color: black;
    padding-left: 3em;
}

#user_chore_display {
    padding-left: 3em;
}

#navbar_menu {
    font-family: 'Quando', serif;
    font-size: large;
    background-color: #ABE2EB;
}

#secondary-form-group {
    font-family: 'Open Sans', sans-serif;
    }

#aggree-button-div {
    font-family: 'Open Sans', sans-serif;
}

#new_chore_form {
    font-family: 'Open Sans', sans-serif;
}

/*#initial-pulldown {
    max-width: 25em;
}*/
/**************new_user**************/
/*Form Elements
#email_field
#password_field
#name_field
#lname_field
Avatars
#user_avatars (div with all of them)
.user_avatar (div with one of them)

#sign_up_button*/

