{% extends 'base.html' %}
{% block body %}
    THIS IS A FORM TO CREATE CHORES
<!--     Initially: Static form
    Secod sprint: Dynamic form -->
    <form action="/newchore" method="POST">
        <input type="text" name="Title" placeholder="Title" required>
        <br>
        <input type="text" name="Description" placeholder="Descriuption" required>
        <br>
        This usually takes:
        <br>
        <input type="text" name="Duration-Hours" placeholder="Hr" required>
        <input type="text" name="Duration-Minutes" placeholder="Min" required>
        <br> 
<!--         HOW DO I COMBINE HOURS AND MINUTES INTO ONE DATA ITEM? -->
        Frequency<br>
        Every Day<input type="checkbox" name="everyday">
        <br>
        Weekly On:
        <input type="checkbox" name="dayofweek" value="0">Su 
        <input type="checkbox" name="dayofweek" value="1">M 
        <input type="checkbox" name="dayofweek" value="2">Tu 
        <input type="checkbox" name="dayofweek" value="3">W 
        <input type="checkbox" name="dayofweek" value="4">Th 
        <input type="checkbox" name="dayofweek" value="5">F 
        <input type="checkbox" name="dayofweek" value="6">Sa
        <br>
        Monthly On/By:
        <br>
        <input type="number" name="date" min="1" max="31">
        <br>
        What time does it need to be done (if any):
        <br>
        <input type="radio" name="ampm" value="am">Any time before noon
        <br>
        <input type="radio" name="ampm" value="pm">Any time before 10pm
        <br>
        <select name="by_hour">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
          <option value="11">11</option>
          <option value="12">12</option>
        </select>
        <select name="by_min">
            <option value="00">:00</option>
            <option value="30">:30</option>
        </select>
        <input type="radio" name="ampm" value="am">AM
        <input type="radio" name="ampm" value="pm">PM
        <br>
        <input type="submit" value="Submit">


    </form>
{% endblock %}

