{% extends 'base.html' %}
{% block body %}
    <form action="/signup" method="POST">
        Email: <input type="email" name="email" placeholder="Email" required><br>
        Password: <input type="password" name="password" placeholder="Password" required><br>
        Name: <input type="text" name="name" placeholder="Name" required><br>
        Last Name: <input type="text" name="lname" placeholder="Last Name" required><br>
        Phone Number: <input type="text" name="phone_number" placeholder="Phone" required><br>
        <input type="submit" value="Sign Up">
    </form>
{% endblock %}

