{% extends 'base.html' %}
{% block head %}
<script src="https://code.jquery.com/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.1/Chart.js"></script>
{% endblock %}
{% block body %}
<div>
    {% for day in month %}
        {% if day in chores %}
        {{ day }}<br>
            {% for chore in chores[day] %}
            {{ chore.name }}: {{ chore.description }} {% if chore.by_time %} before {{chore.by_time}}{% endif %}<br>
            {% endfor %}
        {% endif %}
    {% endfor %}
</div>
<div class="contribution-chart">
  <canvas id="donutChart"></canvas>
</div>
  <!-- <div id="donutLegend" class="chart-legend"></div> LEGEND (DISABLED FOR NOW)-->
<script src="/static/chartscripts.js"></script>
{% endblock %}