{% extends 'base.html' %}
{% block head %}
<script src="https://code.jquery.com/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.1/Chart.js"></script>
{% endblock %}
{% block body %}
<div>
    {% for day in month %}
        {% if chores[day] %}
            {{ day }}
            {% for chore in chores %}
                {{ chore.name }}
            {% endfor %}
        {% endif %}
    {% endfor %}
</div>
<div class="contribution-chart">
  <canvas id="donutChart"></canvas>
</div>
  <!-- <div id="donutLegend" class="chart-legend"></div> LEGEND (DISABLED FOR NOW)-->
<script src="/static/chartscripts.js"></script>
{% endblock %}