{% extends 'base.html' %}
{% block head %}
{% endblock %}
{% block body %}
    <div>
        <form action="/process_address" method="POST">
            Phone Number: <input type="text" name="phone_number" placeholder="Phone" required>
            <br>
            Street Address: <input type="text" id= "address" name="address" placeholder="Street Address">
            <br>
            Apartment:<input type="text" id= "apartment" name="apartment" placeholder="#">
            <br>
            City: <input type="text" id= "city" name="city" placeholder="City" required><br>
            State: <input type="text" id= "state" name="state" placeholder="State" required>
            <br>
            Zip: <input type="text" id= "zipcode" name="zipcode" placeholder="ZIP" required>
            <br>
            <input type="submit" id="address_button" value="Sign Me Up!">
        </form>
    </div>
{% endblock %}


