{% extends 'base.html' %}
{% block head %}
{% endblock %}
{% block body %}
    <div>
        <form action="/process_address" method="POST">
            <input type="text" id= "address" name="address" placeholder="Street Address">
            <br>
            <input type="text" id= "apartment" name="apartment" placeholder="#">
            <br>
            <input type="text" id= "city" name="city" placeholder="City" required><br>
            <input type="text" id= "state" name="state" placeholder="State" required>
            <br>
            <input type="text" id= "zipcode" name="zipcode" placeholder="ZIP" required>
            <br>
            <input type="submit" id="address_button" value="Add Address">
        </form>
    </div>
{% endblock %}


