{% extends 'base.html' %}
{% block head %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
<script src="/static/scripts.js"></script>
{% endblock %}
{% block body %}
    <form action="/newchore" method="POST">
        We need to:
        <input type="text" name="chore_name" placeholder="Title" required>
        <br>
        Which involves:
        <input type="text" name="chore_description" placeholder="Descriuption" required>
        <br>
        This usually takes:
        <br>
        <input type="text" name="duration_hours" placeholder="Hr">
        <input type="text" name="duration_minutes" placeholder="Min" required>
        <br> 
        Frequency:
        <div id="initial-form-group" class="form-group">
          <label class="headline-label" for="initial-pulldown">
            How often does this need to be done:
          </label>
          <select id="initial-pulldown" class="pulldown-width spacey form-control" name="occurance">
            <option></option>
            <option value='daily'>daily</option>
            <option value='weekly'>weekly</option>
            <option value='monthly'>monthly</option>
          </select>
        </div>
      </div>
      <br>
      <div id="secondary-form-group" style="display:none">
        <div class="form-group">
          <label id="secondary-label" class="headline-label" for="secondary-element">
          </label>
          <div id="secondary-element">
          </div>
        </div>
      </div>
      <br>
      <div id="time-form-group" style="display:none">
        <div class="form-group">
          <label id="by-time-label" for="by-time">
          This chore needs to happen at:
          </label>
          <br> 
          <input type='radio' name='time_comment' value='ALL' checked='checked'>Any Time
          <br>
          <input type='radio' name='time_comment' value='MORNING'>Any time in the morning
          <br>
          <input type='radio' name='time_comment' value='EVENING'>Any time in the evening
          <br>
          <label id="by-time-label" for="by-time">
          This time:
          </label>
          <input type='time' name='by-time'>
        </div>
      </div>
      <input type="submit" value="Submit">
    </form>
{% endblock %}