{% extends 'base.html' %}
{% block head %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
{% endblock %}
{% block body %}
    <form action="/newchore" method="POST">
        We need to:
        <input type="text" name="chore_name" placeholder="Title" required>
        <br>
        Which involves:
        <input type="text" name="chore_description" placeholder="Descriuption" required>
        <br>
        This usually takes:
        <br>
        <input type="text" name="duration_hours" placeholder="Hr">
        <input type="text" name="duration_minutes" placeholder="Min" required>
        <br> 
        Frequency:
        <div id="initial-form-group" class="form-group">
          <label class="headline-label" for="initial-pulldown">
            How often does this need to be done:
          </label>
          <select id="initial-pulldown" class="pulldown-width spacey form-control" name="occurance">
            <option></option>
            <option value='daily'>daily</option>
            <option value='weekly'>weekly</option>
            <option value='monthly'>monthly</option>
          </select>
        </div>
      </div>
      <br>
      <div id="secondary-form-group" style="display:none">
        <div class="form-group">
          <label id="secondary-label" class="headline-label" for="secondary-element">
          </label>
          <div id="secondary-element">
          </div>
        </div>
      </div>
      <br>
      <div id="time-form-group" style="display:none">
        <div class="form-group">
          <label id="by-time-label" for="by-time">
          This chore needs to happen at:
          </label>
          <br> 
          <input type='radio' name='time_comment' value='ALL' checked='checked'>Any Time
          <br>
          <input type='radio' name='time_comment' value='MORNING'>Any time in the morning
          <br>
          <input type='radio' name='time_comment' value='EVENING'>Any time in the evening
          <br>
          <label id="by-time-label" for="by-time">
          This time:
          </label>
          <input type='time' name='by-time'>
        </div>
      </div>
      <input type="submit" value="Submit">
    </form>
    <script>

    // DISTINGUISH BETWEEN MONTHLY AND DAILY INTERVALLED CHORES
    "use strict";
    // a general function to update the secondary pulldown
    function addsecondElementOptions(color) {

      // get array for days of the week
      var dow = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'];

      // get the secondary pulldown and empty it
      var secondElement = $("#secondary-element");
      secondElement.empty();
      $("#secondary-label").html("");

      // add an option foreach possibility in form-initial
      if ($("#initial-pulldown").val() == 'daily') {
      } else if ($("#initial-pulldown").val() == 'weekly') {
          for (var i = 0; i < dow.length; i++) {
        secondElement.append(" <input type='checkbox' name='days_weekly' value=" + dow[i] + ">" + dow[i]);
        };
      $("#secondary-label").html("Which days does it need to happen?");
      } else if ($("#initial-pulldown").val() == 'monthly') {
        secondElement.append("By day <input type='number' name='date_monthly' min='1' max='31'> of the month.");
      }

      // finally, unhide the second pulldown
      $('#secondary-form-group').show();
      $('#time-form-group').show();

    };

    // event handler watching for change to the main pulldown
    var mainPull = $("#initial-pulldown"); 
    mainPull.change(function() {

      // update the secondary pulldown if there's a value
      if (mainPull.val() !== "") {
        addsecondElementOptions(mainPull.val());
      // otherwise, hide it
      } else {
        $('#secondary-form-group').hide();
      }
    });
    </script>
{% endblock %}