{% extends 'base.html' %}
{% block head %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.1/Chart.js"></script>
{% endblock %}
{% block body %}
<div class="col-xs-12 col-md-6">
  <select id="available-chores-pulldown" name="availchores">
    <option></option>
    {% for chore in chores %}
    <option value='{{ chore.chore_id }}'>{{ chore.name }}</option>
    {% endfor%}
  </select>
</div>
<div id='secondary-form-group'>
</div>
<div id='aggree-button-div'>
</div>
<div class="col-xs-12 col-md-6">
  <div class="contribution-chart">
  <canvas id="donutChart"></canvas>
  </div>
</div>
<div class="col-xs-12 col-md-6">
<div>
  <table>
    <tr>
      <td>
        Chore
      </td>
      <td>
        Frequency
      </td>
    </tr>
    {% for chore in chores %}
    <tr>
    <td>
    {{ chore.name }}
    </td>
    <td>
    {% if chore.occurance == 'daily' %}
      Every day
    {% elif chore.occurance == 'weekly' %}
      Weekly on {% for item in chore.days_weekly %}{{ item }} {% endfor %}
    {% elif chore.occurance == 'monthly' %}
      Monthly on day {{ chore.date_monthly }} of the month
    {% endif %}
    {% if chore.comment == 'ALL' %}
        at any time of day.
      {% elif chore.comment == 'MORNING' %}
        in the morning.
      {% elif chore.comment == 'EVENING' %}
        in the evening.
    {% elif chore.by_time %}
      at {{ chore.by_time }}
    {% endif %}
    </td>
    </tr>
    {% endfor %}
  </table>
</div>
<div class="contribution-chart">
  <canvas id="donutChart"></canvas>
</div>
  <!-- <div id="donutLegend" class="chart-legend"></div> LEGEND (DISABLED FOR NOW)-->
<script src="/static/chartscripts.js"></script>
<script src="/static/scripts.js"></script>
{% endblock %}