{% extends 'base.html' %}
{% block head %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
<script src="/static/scripts.js"></script>
{% endblock %}
{% block body %}
<div>
  <select id="initial-pulldown" name="freq">
    <option></option>
    {% for chore in chores %}
    <option value='{{ chore.chore_id }}'>{{ chore.name }}</option>
    {% endfor%}
  </select>
</div>
<div id='secondary-form-group'>
</div>
<div id='aggree-button-div'>
</div>
<div>
  <table>
    <tr>
      <td>
        Chore
      </td>
      <td>
        Frequency
      </td>
    </tr>
    {% for chore in chores %}
    <tr>
    <td>
    {{ chore.name }}
    </td>
    <td>
    {% if chore.occurance == 'daily' %}
      Every day
    {% elif chore.occurance == 'weekly' %}
      Weekly on {% for item in chore.days_weekly %}{{ item }} {% endfor %}
    {% elif chore.occurance == 'monthly' %}
      Monthly on day {{ chore.date_monthly }} of the month
    {% endif %}
    {% if chore.commment == 'ALL' %}
        at any time of day.
      {% elif chore.commment == 'MORNING' %}
        in the morning.
      {% elif chore.commment == 'EVENING' %}
        in the evening.
    {% elif chore.by_time %}
      at {{ chore.by_time }}
    {% endif %}
    </td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}